body {
  background-color: lightgray;
  font-family: satisfy, sans-serif;
  margin: 2rem 0;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 0;
  max-width: 100%;
}

.container-item {
  display: flex;
  flex-direction: column;
  width: 100%
}

.title {
  font-weight: bold;
}

.video {
  align-self: auto;
  justify-self: auto;
}

.date {
  justify-self: center;
  text-align: center;
  font-weight: bold;
}

/* === Countdown Styles === */
.countdown {
  width: 80%;
}

#countdown span {
  background: rgba(0,0,0,0);
  color: #000;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  width: 25%;
  display: block;
  float: left;
  border-right: 1px solid #FFF;
}
#countdown span:last-child {
  border-right: 0;
}

/* === Welcome Message Styles === */
.welcome {
  font-family: yanone kaffeesatz, Helvetica, sans-serif;
  padding: 5% 10%;
  text-align: justify;
  text-justify: inter-word;
}

/* === Locations Styles === */
.locations {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.location_address {
  font-family: yanone kaffeesatz, Helvetica, sans-serif;
  text-align: center;
}

#zoldfasPic, #forroPic {
  border-radius: 1rem;
}

#zoldfasMap, #forroMap {
  width: 60%;
  height: 15rem;
  margin: 0;
  padding: 0;
}

/* === Form Styles === */
.form {
  align-items: center;
}
.form form{
  font-family: yanone kaffeesatz, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 70%;
}

#questionare-description {
  text-align: justify;
  margin: 1rem 0;
}

.questions {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.question {
  margin: 1rem 0;
}

#submit-button {
  width: 80%;
  align-self: center;
  margin-top: 1rem;
}
/*.apology {
  color: red;
  display: none;
}*/

/* === Alert === */
.alert {
  position: fixed;
  top: 0;
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
  width: 100%;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.show {
  display: block;
  transition: 0.5s;
}

.hide {
  display: none;
}