body {
  background-color: lightgray;
  font-family: satisfy, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  padding: 0;
  gap: 2rem;
  max-width: 100%;
  min-width: 250px;
}

.container-item {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.title {
  font-weight: bold;
}

.date {
  text-align: center;
  font-weight: bold;
}

/* === Countdown Styles === */
.countdown {
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.countdown-span {
  /*text-wrap: nowrap;*/
  flex-grow: 1;
  background: rgba(0,0,0,0);
  display: inline-block;
  color: #000;
  padding-left: 1%;
  padding-right: 1%;
  border-right: 1px solid #fff;
  text-align: center;
}

.countdown span:last-child {
  border-right: 0;
}

/* === Welcome Message Styles === */
.welcome {
  font-family: yanone kaffeesatz, Helvetica, sans-serif;
  padding: 2rem 3rem;
  text-align: justify;
}

/* === Locations Styles === */
.locations {
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.location {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: yanone kaffeesatz, Helvetica, sans-serif;
}

#zoldfasPic, #forroPic {
  border-radius: 1rem;
  width: 65%;
  margin: 1rem 0;
}

#zoldfasMap, #forroMap {
  width: 60%;
  height: 15rem;
  margin: 0;
  padding: 0;
}

#zoldfasMap > iframe, #forroMap > iframe {
  height: 100%;
  width: 100%;
}

/* === Form Styles === */
.form {
  align-items: center;
}
.form form{
  font-family: yanone kaffeesatz, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 70%;
}

#questionare-description {
  text-align: justify;
  margin: 1rem 0;
}

.questions {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.question {
  margin: 1rem 0;
}

#submit-button {
  width: 80%;
  align-self: center;
  margin-top: 1rem;
}

/* === Alert === */

.alert {
  font-family: yanone kaffeesatz, Helvetica, sans-serif;
  text-align: center;
  position: fixed;
  top: 0;
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
  width: 100%;
  z-index: 3;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.alert.success {background-color: #04AA6D;}

.show {
  display: block;
}

.hide {
  display: none;
}