<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stella & Domi wedding</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="video">
        
      </div>
      <div class="quote">
        This is a quote
      </div>
      <div class="countdown">
        Countdown
      </div>
      <div class="welcome">
        
      </div>
      <div class="timeline">
        
      </div>
      <div class="form">
        
      </div>
      <div class="locations">
        
      </div>
      <div class="travel">
        
      </div>
      <div class="gallery">
        
      </div>
      <footer class="contact-us">
        
      </footer>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>